## Activities Section

In [6]:
### CONNECTING TO THE MYSQL DB ##

# !pip install mysql-connector-python <-- Already install
# !pip install ipython-sql

# load in sql magic and connect to the database
%load_ext sql
import getpass

db_password = getpass.getpass("Enter your DB password")
connection_url = f"mysql+mysqlconnector://root:{db_password}@localhost/elections"

db = %sql {connection_url}

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Enter your DB password········

### A1. A Clerk creating a new ballot

In [7]:
# SHOW ALL THE BALLOTS BEFORE INSERTING NEW ONE
%sql SELECT * FROM ballots;

 * mysql+mysqlconnector://root:***@localhost/elections
4 rows affected.

[('B1', 'What is question 1?', datetime.datetime(2023, 11, 1, 12, 0), datetime.datetime(2023, 11, 1, 18, 0)),
 ('B2', 'What is question 2?', datetime.datetime(2023, 11, 2, 10, 0), datetime.datetime(2023, 11, 2, 20, 0)),
 ('B3', 'What is question 3?', datetime.datetime(2023, 12, 1, 9, 0), datetime.datetime(2023, 12, 1, 12, 0)),
 ('B4', 'What is question 4?', datetime.datetime(2023, 12, 2, 14, 0), datetime.datetime(2023, 12, 2, 22, 0))]

In [8]:
# Clerk adding in a new ballot
ballot_question = input("What is the ballot question?")

%sql INSERT INTO ballots VALUES \
('B5', '{ballot_question}', '2023-11-01 09:00:00', '2023-11-01 22:00:00');

# Display the updated table
%sql SELECT * FROM ballots;

What is the ballot question?Who is the president?
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/elections
5 rows affected.

[('B1', 'What is question 1?', datetime.datetime(2023, 11, 1, 12, 0), datetime.datetime(2023, 11, 1, 18, 0)),
 ('B2', 'What is question 2?', datetime.datetime(2023, 11, 2, 10, 0), datetime.datetime(2023, 11, 2, 20, 0)),
 ('B3', 'What is question 3?', datetime.datetime(2023, 12, 1, 9, 0), datetime.datetime(2023, 12, 1, 12, 0)),
 ('B4', 'What is question 4?', datetime.datetime(2023, 12, 2, 14, 0), datetime.datetime(2023, 12, 2, 22, 0)),
 ('B5', 'Who is the president?', datetime.datetime(2023, 11, 1, 9, 0), datetime.datetime(2023, 11, 1, 22, 0))]

In [9]:
# Inserting in possible ballot answers
%sql INSERT INTO ballot_answers VALUES \
('B5', 'YES'), ('B5', 'NO'), ('B5', 'ABSTAIN');

# Display the possible ballot answers
%sql SELECT * FROM ballot_answers WHERE ballotShortName = 'B5';

 * mysql+mysqlconnector://root:***@localhost/elections
3 rows affected.
 * mysql+mysqlconnector://root:***@localhost/elections
3 rows affected.

[('B5', 'YES'), ('B5', 'NO'), ('B5', 'ABSTAIN')]

### A2. A folk registering to vote for a ballot

In [10]:
# Ask for basic information
folk_id = int(input("What is your id? (For this example, please enter 19) "))
folk_city = input("What city do you live in? (Please enter Catonsville) ")

ballot_table = %sql SELECT * FROM ballots;
print(ballot_table)
print("\nLet say you've chosen B1!\n")

print(f"\nHere are the available Voting Centers at {folk_city}\n") 
available_voting_centers = %sql SELECT vcID as Available_Voting_Center \
                            FROM voting_centers vc \
                            JOIN places pl ON vc.placeID = pl.placeID \
                            WHERE pl.city = :folk_city;
print(available_voting_centers)
desired_vc = input("Pick a voting center? (Enter VC3) ")
voting_center_hours = %sql SELECT openDatetimes as Open_Datetime, closeDatetimes as Close_Datetime \
                        FROM voting_centers vc \
                        JOIN operating_periods op \
                        ON vc.vcID = op.vcID \
                        WHERE vc.vcID = :desired_vc;
print(voting_center_hours)
desired_date = ''
while True:
    desired_date = input("Enter a desired date: (YYYY-MM-DD) ")
    if desired_date == '2023-11-01':
        number_of_folk = %sql SELECT COUNT(DISTINCT folkID) as number_of_folk_registered \
                        FROM voting_registrations \
                        WHERE vcID = :desired_vc and desiredVotingDate = :desired_date \
                        GROUP BY vcID, desiredVotingDate;
        print(number_of_folk)
        break
    else:
        print('\nINCORRECT DATE! PLEASE ENTER 2023-11-01!\n')
        
# Successfully registering folk
%sql INSERT INTO voting_registrations \
VALUES (19213, 19, 'B1', :desired_vc, :desired_date);
# Checking to see if they're in the DB
newVotingRegistration = %sql SELECT * FROM voting_registrations WHERE registrationNumber = 19213;
print(newVotingRegistration)

# Successful Registered
print("SUCCESSFULLY REGISTERED!!")

What is your id? (For this example, please enter 19) 19
What city do you live in? (Please enter Catonsville) Catonsville
 * mysql+mysqlconnector://root:***@localhost/elections
5 rows affected.
+-----------+-----------------------+----------------------+---------------------+
| shortName |      questionText     | availableStartPeriod |  availableEndPeriod |
+-----------+-----------------------+----------------------+---------------------+
|     B1    |  What is question 1?  | 2023-11-01 12:00:00  | 2023-11-01 18:00:00 |
|     B2    |  What is question 2?  | 2023-11-02 10:00:00  | 2023-11-02 20:00:00 |
|     B3    |  What is question 3?  | 2023-12-01 09:00:00  | 2023-12-01 12:00:00 |
|     B4    |  What is question 4?  | 2023-12-02 14:00:00  | 2023-12-02 22:00:00 |
|     B5    | Who is the president? | 2023-11-01 09:00:00  | 2023-11-01 22:00:00 |
+-----------+-----------------------+----------------------+---------------------+

Let say you've chosen B1!


Here are the available Voting Centers at Catonsville

 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+-------------------------+
| Available_Voting_Center |
+-------------------------+
|           VC3           |
+-------------------------+
Pick a voting center? (Enter VC3) VC3
 * mysql+mysqlconnector://root:***@localhost/elections
4 rows affected.
+---------------------+---------------------+
|    Open_Datetime    |    Close_Datetime   |
+---------------------+---------------------+
| 2023-11-01 09:00:00 | 2023-11-01 22:00:00 |
| 2023-11-02 09:00:00 | 2023-11-02 22:00:00 |
| 2023-12-01 09:00:00 | 2023-12-01 22:00:00 |
| 2023-12-02 09:00:00 | 2023-12-02 22:00:00 |
+---------------------+---------------------+
Enter a desired date: (YYYY-MM-DD) 2023-12-02

INCORRECT DATE! PLEASE ENTER 2023-11-01!

Enter a desired date: (YYYY-MM-DD) 2023-11-01
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+---------------------------+
| number_of_folk_registered |
+---------------------------+
|             2             |
+---------------------------+
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+--------------------+--------+-----------------+------+-------------------+
| registrationNumber | folkID | ballotShortName | vcID | desiredVotingDate |
+--------------------+--------+-----------------+------+-------------------+
|       19213        |   19   |        B1       | VC3  |     2023-11-01    |
+--------------------+--------+-----------------+------+-------------------+
SUCCESSFULLY REGISTERED!!

### A3. A clerk modifying the availability period of a current ballot

In [12]:
while True:
    # Show all the ballots available
    ballot_table = %sql SELECT * FROM ballots;
    print(ballot_table)

    # Assuming you have the necessary input, such as the ballot shortName and new availability periods
    ballot_shortName = input("\nEnter the shortName of the ballot you want to modify: ")

    # Check if there are any cast votes for the specified ballot
    check_votes_query = f"""SELECT COUNT(*) AS Number_of_Cast_Vote \
    FROM cast_votes cv \
    JOIN voting_registrations vr \
    ON cv.registrationNumber = vr.registrationNumber \
    WHERE vr.ballotShortName = :ballot_shortName"""

    result = %sql {check_votes_query}
    print(result)
    # If there are no cast votes, proceed with the update
    if result is not None and result[0][0] == 0:
        new_start_period = input("Enter the new available start period (YYYY-MM-DD HH:MM:SS): ")
        new_end_period = input("Enter the new available end period (YYYY-MM-DD HH:MM:SS): ")
        # Update the availability period
        update_query = f"""
            UPDATE ballots
            SET availableStartPeriod = :new_start_period, availableEndPeriod = :new_end_period
            WHERE shortName = :ballot_shortName;
        """
        %sql {update_query}
        print("Availability period updated successfully.")
    else:
        print("Cannot modify availability period. There are cast votes for this ballot.")
    
    exit_query = input("Modify again? (Yes or No) ")
    if exit_query in ['N', 'No', 'NO']:
        break

 * mysql+mysqlconnector://root:***@localhost/elections
5 rows affected.
+-----------+-----------------------+----------------------+---------------------+
| shortName |      questionText     | availableStartPeriod |  availableEndPeriod |
+-----------+-----------------------+----------------------+---------------------+
|     B1    |  What is question 1?  | 2023-11-01 12:00:00  | 2023-11-01 18:00:00 |
|     B2    |  What is question 2?  | 2023-11-02 10:00:00  | 2023-11-02 20:00:00 |
|     B3    |  What is question 3?  | 2023-12-01 09:00:00  | 2023-12-01 12:00:00 |
|     B4    |  What is question 4?  | 2023-12-02 14:00:00  | 2023-12-02 22:00:00 |
|     B5    | Who is the president? | 2023-11-01 09:00:00  | 2023-11-01 22:00:00 |
+-----------+-----------------------+----------------------+---------------------+

Enter the shortName of the ballot you want to modify: B1
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+---------------------+
| Number_of_Cast_Vote |
+---------------------+
|          8          |
+---------------------+
Cannot modify availability period. There are cast votes for this ballot.
Modify again? (Yes or No) Yes
 * mysql+mysqlconnector://root:***@localhost/elections
5 rows affected.
+-----------+-----------------------+----------------------+---------------------+
| shortName |      questionText     | availableStartPeriod |  availableEndPeriod |
+-----------+-----------------------+----------------------+---------------------+
|     B1    |  What is question 1?  | 2023-11-01 12:00:00  | 2023-11-01 18:00:00 |
|     B2    |  What is question 2?  | 2023-11-02 10:00:00  | 2023-11-02 20:00:00 |
|     B3    |  What is question 3?  | 2023-12-01 09:00:00  | 2023-12-01 12:00:00 |
|     B4    |  What is question 4?  | 2023-12-02 14:00:00  | 2023-12-02 22:00:00 |
|     B5    | Who is the president? | 2023-11-01 09:00:00  | 2023-11-01 22:00:00 |
+-----------+-----------------------+----------------------+---------------------+

Enter the shortName of the ballot you want to modify: B5
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+---------------------+
| Number_of_Cast_Vote |
+---------------------+
|          0          |
+---------------------+
Enter the new available start period (YYYY-MM-DD HH:MM:SS): 2023-12-01 10:00:00
Enter the new available end period (YYYY-MM-DD HH:MM:SS): 2023-12-01 22:00:00
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
Availability period updated successfully.
Modify again? (Yes or No) No

### A4. Casting votes

In [17]:
# Assuming you have the necessary input, such as the person's ID and the ballot shortName
monitor_staff = 40

while True:
    folk_id = input("Enter your ID: [11-19] ")
    ballot_shortName = input("Enter the shortName of the ballot you want to cast a vote for: [B1-B5] ")

    # Check if the person has registered for the specified ballot
    check_registration_query = f"""
        SELECT COUNT(*) Number_of_Registration\
        FROM voting_registrations \
        WHERE folkID = :folk_id AND ballotShortName = :ballot_shortName;
    """

    registration_result = %sql {check_registration_query}
    print(registration_result)
    print("\nNUMBER OF REGISTRATION SHOULD BE 1, YOU NEED REGISTRATION IN ORDER TO VOTE\n")

    # If the person has registered for the specified ballot
    if registration_result is not None and registration_result[0][0] > 0:
        # Check if the person has already cast a vote for the specified ballot
        check_vote_query = f"""
            SELECT COUNT(*) Number_of_Cast_Vote\
            FROM cast_votes cv\
            JOIN voting_registrations vr \
            ON cv.registrationNumber = vr.registrationNumber
            WHERE vr.folkID = :folk_id AND vr.ballotShortName = :ballot_shortName;
        """

        vote_result = %sql {check_vote_query}
        print(vote_result)
        print("\nNUMBER OF CAST VOTE SHOULD BE 0, SO YOU DON'T CAST THE SAME VOTES TWICE!!\n")

        # If the person has not already cast a vote
        if vote_result is not None and vote_result[0][0] == 0:
            ballot_question = %sql SELECT questionText as BALLOT_QUESTION \
                                FROM ballots WHERE shortName = :ballot_shortName;
            print(ballot_question)
            voter_choice = input("\nEnter Your Vote Choice? (YES, NO, ABSTAIN) ")

            # Cast a vote for the person
            cast_vote_query = f"""
                INSERT INTO cast_votes \
                VALUES (
                    (SELECT registrationNumber FROM voting_registrations \
                    WHERE folkID = :folk_id AND ballotShortName = :ballot_shortName), \
                    :voter_choice, \
                    (SELECT desiredVotingDate FROM voting_registrations \
                    WHERE folkID = :folk_id AND ballotShortName = :ballot_shortName), \
                    :monitor_staff)
            """
            %sql {cast_vote_query}
            print("Vote cast successfully.")
        else:
            print("You have already cast a vote for this ballot. You cannot vote twice.")
    else:
        print("You haven't registered to vote for this ballot. Please register first.")
        
    exit_query = input("Modify again? (Yes or No) ")
    if exit_query in ['N', 'No', 'NO']:
        break

Enter your ID: [11-19] 11
Enter the shortName of the ballot you want to cast a vote for: [B1-B5] B1
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+------------------------+
| Number_of_Registration |
+------------------------+
|           1            |
+------------------------+

NUMBER OF REGISTRATION SHOULD BE 1, YOU NEED REGISTRATION IN ORDER TO VOTE

 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+---------------------+
| Number_of_Cast_Vote |
+---------------------+
|          1          |
+---------------------+

NUMBER OF CAST VOTE SHOULD BE 0, SO YOU DON'T CAST THE SAME VOTES TWICE!!

You have already cast a vote for this ballot. You cannot vote twice.
Modify again? (Yes or No) Y
Enter your ID: [11-19] 13
Enter the shortName of the ballot you want to cast a vote for: [B1-B5] B3
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+------------------------+
| Number_of_Registration |
+------------------------+
|           1            |
+------------------------+

NUMBER OF REGISTRATION SHOULD BE 1, YOU NEED REGISTRATION IN ORDER TO VOTE

 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+---------------------+
| Number_of_Cast_Vote |
+---------------------+
|          0          |
+---------------------+

NUMBER OF CAST VOTE SHOULD BE 0, SO YOU DON'T CAST THE SAME VOTES TWICE!!

 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
+---------------------+
|   BALLOT_QUESTION   |
+---------------------+
| What is question 3? |
+---------------------+

Enter Your Vote Choice? (YES, NO, ABSTAIN) Yes
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
Vote cast successfully.
Modify again? (Yes or No) No

### A5. Removing a Folk

In [18]:
# We'll be removing folks with id = 19, here is all of its association
vr_query = f""" SELECT id, firstName, lastName, dob, registrationNumber
FROM folks
JOIN voting_registrations vr
ON folks.id = vr.folkID
WHERE id = 19;
"""
residence_query = f"""SELECT f.id, f.firstName, f.lastName, f.dob,
pl.streetNumber, pl.streetName, pl.city, pl.state, pl.zipcode
FROM folks AS f
JOIN residence AS res ON f.id = res.folkID
JOIN places AS pl ON res.placeID = pl.placeID
WHERE f.id = 19;
"""
voting_registrations = %sql {vr_query}
residence = %sql {residence_query}
print("\nBEFORE REMOVAL: VOTING REGISTRATION and RESIDENCE ASSOCIATION \n")
print(voting_registrations)
print(residence)

remove_folk_query = f""" 
DELETE FROM folks 
WHERE id = 19;
"""
%sql {remove_folk_query}
print("\nAFTER REMOVAL: VOTING REGISTRATION and RESIDENCE ASSOCIATION ")
voting_registrations = %sql {vr_query}
residence = %sql {residence_query}
print("\nBEFORE REMOVAL: VOTING REGISTRATION and RESIDENCE ASSOCIATION \n")
print(voting_registrations)
print(residence)

 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.

BEFORE REMOVAL: VOTING REGISTRATION and RESIDENCE ASSOCIATION

+----+-----------+----------+------------+--------------------+
| id | firstName | lastName |    dob     | registrationNumber |
+----+-----------+----------+------------+--------------------+
| 19 |   Zachs   |  Flowr   | 2000-01-15 |       19213        |
+----+-----------+----------+------------+--------------------+
+----+-----------+----------+------------+--------------+------------+-------------+-------+---------+
| id | firstName | lastName |    dob     | streetNumber | streetName |     city    | state | zipcode |
+----+-----------+----------+------------+--------------+------------+-------------+-------+---------+
| 19 |   Zachs   |  Flowr   | 2000-01-15 |      4       |  Jame Rd   | Catonsville |   MD  |  21228  |
+----+-----------+----------+------------+--------------+------------+-------------+-------+---------+
 * mysql+mysqlconnector://root:***@localhost/elections
1 rows affected.

AFTER REMOVAL: VOTING REGISTRATION and RESIDENCE ASSOCIATION
 * mysql+mysqlconnector://root:***@localhost/elections
0 rows affected.
 * mysql+mysqlconnector://root:***@localhost/elections
0 rows affected.

BEFORE REMOVAL: VOTING REGISTRATION and RESIDENCE ASSOCIATION

+----+-----------+----------+-----+--------------------+
| id | firstName | lastName | dob | registrationNumber |
+----+-----------+----------+-----+--------------------+
+----+-----------+----------+-----+--------------------+
+----+-----------+----------+-----+--------------+------------+------+-------+---------+
| id | firstName | lastName | dob | streetNumber | streetName | city | state | zipcode |
+----+-----------+----------+-----+--------------+------------+------+-------+---------+
+----+-----------+----------+-----+--------------+------------+------+-------+---------+